* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
}

@font-face {
    font-family: Fuente;
    src: url(../fonts/tt1212m_.ttf);
}

@font-face {

    font-family: Carnales;
    src: url(../fonts/Rumble\ Brave.otf);
}

@keyframes movimientologo {
    0% {
        transform: translateY(-10px);
    }

    25% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(-30px);
    }

    75% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(-10px);
    }

}

@keyframes cotizaColor {

    0% {
        background: rgb(45, 80, 250);
    }

    50% {
        background: rgb(255, 0, 155);
    }

    100% {
        background: rgb(45, 80, 250);
    }

}

@keyframes shadowImg {

    0% {
        box-shadow: 2px 4px 10px rgb(45, 80, 250);
    }

    50% {
        box-shadow: 2px 4px 10px rgb(255, 0, 155);
    }

    100% {
        box-shadow: 2px 4px 10px rgb(45, 80, 250);
    }

}

header {
    position: relative;
    background-color: rgb(0, 0, 0);
    min-height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 20px rgba(35, 157, 215, 0.75);
    z-index: 1000;
    border-bottom: 1px solid rgba(255, 255, 255, 0.575);

    .logo_empresa {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        text-decoration: none;

        img {
            width: 50px;
            height: 50px;
            margin: 10px;
            transition: 0.3s ease-in-out;

            &:hover {
                transform: translateY(-3px);
            }
        }

        .nombre_empresa {
            font-size: 20px;
            margin-left: 0px;
            font-family: 'Bruno Ace';
            text-decoration: none;
            color: white;
            text-shadow: (0 0 10px white);

            &:hover {
                text-shadow: 0 0 10px rgb(45, 80, 250);
                color: rgb(45, 80, 250);
                transition: 0.5s;
            }
        }
    }

    .menutoogle {
        position: absolute;
        top: 10px;
        right: 10px;
        height: 30px;
        width: 30px;
        visibility: hidden;

        ion-icon {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 30px;
            color: rgb(255, 255, 255);
        }
    }

    .menu {
        position: relative;
        color: white;
        font-family: Fuente;
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 45px;
        margin-right: 20px;

        a {
            text-decoration: none;
            list-style-type: none;

            li {
                font-size: 18px;
                font-weight: 400;
                text-decoration: none;
                color: rgb(255, 255, 255);
                text-shadow: (0 0 10px white);
                font-family: 'Bruno Ace';
            }

            li:hover {
                cursor: pointer;
                transition: 0.5s;
                text-shadow: 0 0 10px rgb(45, 80, 250);
                color: rgb(45, 80, 250);
            }
        }
    }
}

.conteiner1 {
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 10px;
    background-image: url(../imagenes/fondo_principal.jpg);
    background-size: cover;
    box-shadow: 5px 5px 15px black;

    .contacto {
        height: 475px;
        width: 475px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 5px 5px 10px rgb(255, 255, 255), -5px -5px 10px rgb(255, 0, 155);
        background: rgba(255, 255, 255, 0.438);
        gap: 15px;
        border-radius: 50%;
        overflow: hidden;
        transition: .3s ease-in-out;
        animation: 5s movimientologo linear infinite;

        img {
            height: 100px;
            transition: .3s ease-in-out;
        }

        .titulo {
            color: rgb(0, 0, 0);
            font-family: Fuente;
            font-size: 30px;
            transition: .3s ease-in-out;
        }

        .eslogan {
            color: rgb(0, 0, 0);
            font-family: 'Yellowtail', cursive;
            font-size: 23px;
            margin-top: -20px;
            font-size: 300;
            letter-spacing: 1px;
        }

        .propietario {
            color: rgb(0, 0, 0);
            font-size: 26px;
            font-family: 'Bruno Ace';
            font-weight: 500;
            transition: .3s ease-in-out;
            border-bottom: 2px solid rgb(45, 80, 250);
        }

        .datoscontacto {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: -5px;
            gap: 10px;

            a {
                text-decoration: none;
                list-style-type: none;

                ion-icon {
                    font-size: 28px;
                    color: rgb(255, 255, 255);
                    background-color: rgb(45, 80, 250);
                    padding: 7px;
                    border-radius: 50%;
                    transition: .3s ease-in-out;
                }

                span {
                    color: rgb(0, 0, 0);
                    font-size: 20px;
                    font-family: 'Bruno Ace';
                    transition: .3s ease-in-out;
                }
            }
        }

        &:hover {
            transform: scale(0.95);
        }
    }
}

.scene {
    .nosotros {
        position: relative;
        width: 100%;
        padding: 0px 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        margin-top: 50px;
        z-index: 100;

        .quienes_somos {
            font-size: 28px;
            font-weight: 400;
            font-family: 'Bruno Ace';
        }

        .somos {
            font-family: 'Montserrat', sans-serif;
            text-align: center;
            font-size: 20px;
            font-weight: 300;
            margin-bottom: 20px;
            margin-top: 20px;
            letter-spacing: 1px;
            line-height: 30px;
        }
    }
}

.cotiza_ahora {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;
    gap: 10px;
    transition: .3s ease-in-out;

    a {
        text-decoration: none;

        div {
            position: relative;
            background: black;
            padding: 17px 80px;
            border-radius: 10px;
            text-align: center;
            box-shadow: 5px 5px 15px black;
            animation: 7s cotizaColor linear infinite;

            span {
                font-family: 'Montserrat', sans-serif;
                font-size: 16px;
                color: #ffffff;
                font-weight: 600;
                letter-spacing: 3px;
            }

            &:hover {
                background-color: rgba(0, 0, 0, 0.884);
            }
        }
    }

    img {
        width: 125px;
        rotate: 10deg;
    }

    &:hover {
        transform: translateY(-3px);
    }
}

.servicios {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    position: relative;
    width: 100%;
    margin-bottom: 60px;
    gap: 10px;

    .textos {
        position: relative;
        background-image: url(../imagenes/fondo_principal.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 500px;
        width: 40%;
        gap: 50px;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 5px 5px 25px rgb(0, 0, 0);

        span {
            margin-top: 50px;
            color: rgb(0, 0, 0);
            font-family: 'Bruno Ace';
            font-size: 30px;
            font-weight: 500;
            z-index: 1000;
            transition: .3s ease-in-out;
            border-bottom: 3px solid rgb(255, 255, 255);

            &:hover {
                transform: scale(1.1);
                color: rgb(255, 255, 255);
            }
        }

        ul {
            list-style-type: none;
            color: white;
            z-index: 1000;
            text-align: center;

            li {
                font-family: Fuente;
                font-size: 30px;
                margin-top: 7px;
                transition: .3s ease-in-out;

                &:hover {
                    transform: scale(1.1);
                    color: var(--clr);
                }
            }
        }

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 105%;
            backdrop-filter: blur(5px);
        }
    }

    .image2 {
        height: 500px;
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: .3s;
        position: relative;

        img {
            border-radius: 20px;
            height: 100%;
            transition: .3s;
            animation: 7s shadowImg linear infinite;
            transition: .3s ease-in-out;
            object-fit: cover;
            overflow: hidden;
        }
    }
}

.contacto2 {
    position: fixed;
    bottom: 5px;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    .contenedor {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        background: rgb(0, 0, 0);
        box-shadow: 2px 2px 10px rgb(255, 0, 155), -2px -2px 10px rgb(45, 80, 250);
        height: 340px;
        width: 50px;
        transition: 0.5s;
        border-radius: 30px;

        &.active {
            transition: 0.5s;
            height: 130px;
            width: 50px;
        }

        &.active2 {
            transition: 0.5s;
            flex-direction: row;
            width: 320px;
            justify-content: center;
            gap: 50px;
        }

        .qr2 {

            img {
                transition: 0.5s;
                width: 0px;
                visibility: hidden;
                opacity: 0;
            }

            &.active2 {

                img {
                    transition: 0.5s;
                    width: 200px;
                    visibility: visible;
                    opacity: 1;
                }
            }
        }

        .botones {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            margin-top: -10px;
            gap: 28px;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;

                span {
                    color: white;
                    font-size: 15px;
                    font-family: 'Montserrat', sans-serif;
                    transform: rotate(0deg);
                }
            }

            .btn {
                position: relative;
                font-size: 25px;
                color: white;
                transition: .5s;

                &:hover {
                    color: rgb(45, 80, 250);
                    transform: translateY(-3px);
                }
            }

            &.active {
                transition: 0.5s;

                :nth-child(3) {
                    opacity: 0;
                    visibility: hidden;
                }

                :nth-child(4) {
                    opacity: 0;
                    visibility: hidden;
                }

                :nth-child(5) {
                    opacity: 0;
                    visibility: hidden;
                }

                :nth-child(6) {
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }
    }
}

.contacto_footer {
    position: relative;
    background-color: rgb(0, 0, 0);
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 400px;
    width: 100%;

    .preferencia {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 50%;
        height: 100%;
        gap: 20px;
        padding: 25px;

        .gracias {
            color: rgb(255, 255, 255);
            border-bottom: 2px solid rgb(255, 255, 255);
            text-shadow: 0 0 10px white;
            font-size: 25px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            padding-bottom: 1px;
            letter-spacing: 1px;

            &:hover {
                color: rgb(45, 80, 250);
                text-shadow: 0 0 10px rgb(45, 80, 250);
            }
        }

        span {
            color: rgb(255, 255, 255);
            font-size: 16px;
            font-weight: 400;
            font-family: 'Montserrat', sans-serif;
            text-align: center;
        }

        .cotiza_ahora2 {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 15px;
            gap: 10px;
            transition: .3s ease-in-out;

            a {
                text-decoration: none;

                div {
                    position: relative;
                    animation: 7s cotizaColor linear infinite;
                    padding: 10px 40px;
                    border-radius: 10px;
                    text-align: center;

                    span {
                        font-family: 'Montserrat', sans-serif;
                        font-size: 14px;
                        color: #ffffff;
                        font-weight: 600;
                        letter-spacing: 2px;
                    }

                    &:hover {
                        background-color: rgba(0, 0, 0, 0.884);
                    }
                }
            }

            img {
                width: 125px;
                rotate: 10deg;
            }

            &:hover {
                transform: translateY(-3px);
            }
        }

        .datoscontacto2 {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            gap: 20px;

            ion-icon {
                font-size: 28px;
                color: rgb(255, 255, 255);
                background-color: rgb(0, 0, 0);
                padding: 7px;
                border-radius: 50%;
                border: 1px solid rgb(255, 255, 255);
                transition: .3s ease-in-out;
                transition: .3s ease-in-out;

                &:hover {
                    transform: translateY(-3px);
                    color: rgb(45, 80, 250);
                    background-color: rgb(255, 255, 255);
                }
            }

            span {
                color: white;
                font-size: 25px;
                font-family: 'Montserrat';
            }
        }

        .credito {
            color: white;
            font-size: 13px;
            font-family: 'Montserrat';
        }
    }

    .ubicacion {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 50%;
        height: 100%;
        gap: 10px;

        iframe {
            border-radius: 20px;
            box-shadow: 2px 2px 10px rgb(255, 255, 255);
            border: 1px solid white;
            width: 550px;
            height: 300px;
        }

        a {
            list-style-type: none;
            text-decoration: none;

            span {
                color: rgb(255, 255, 255);
                font-size: 15px;
                font-family: 'Montserrat';
            }
        }
    }
}

@media screen and (max-width:960px) {
    header {
        min-height: 75px;

        .logo_empresa {

            .nombre_empresa {
                font-size: 19px;
                letter-spacing: 0px;
            }
        }

        .menu {
            gap: 15px;

            a {
                li {
                    font-size: 17px;
                }
            }
        }
    }

    .conteiner1 {
        height: 425px;

        .contacto {
            height: 350px;
            width: 350px;

            img {
                height: 90px;
            }

            .titulo {
                font-size: 25px;
            }

            .eslogan {
                font-size: 18px;
            }

            .propietario {
                font-size: 20px;
            }

            .datoscontacto {
                gap: 5px;

                a {

                    ion-icon {
                        font-size: 25px;
                    }

                    span {
                        font-size: 22px;
                    }
                }
            }
        }
    }

    .scene {
        .nosotros {
            padding: 0px 75px;
        }
    }

    .servicios {
        gap: 50px;

        .textos {
            height: 300px;
            width: 45%;
            gap: 10px;
            box-shadow: 3px 3px 15px rgb(13, 45, 66);

            span {
                font-size: 18px;
            }

            ul {

                li {
                    font-size: 17px;
                }
            }
        }

        .image2 {
            height: 300px;
            width: 35%;

            img {
                width: 100%;
                box-shadow: 3px 3px 15px rgb(13, 45, 66);
                transition: .3s ease-in-out;
            }
        }
    }

    .contacto_footer {
        height: 450px;

        .ubicacion {
            margin-right: 20px;

            iframe {
                width: 300px;
                height: 375px;
            }

            a {
                span {
                    font-size: 13px;
                }
            }
        }
    }
}

@media screen and (max-width:480px) {
    header {

        min-height: 150px;
        justify-content: center;
        flex-direction: column;
        gap: 10px;

        .logo_empresa {
            flex-direction: column;
            gap: 10px;

            .nombre_empresa {
                font-size: 25px;
                margin-top: -5px;

            }
        }

        .menutoogle {
            position: absolute;
            top: 10px;
            right: 10px;
            height: 30px;
            width: 30px;
            visibility: visible;
            transition: .5s;

            &.active {
                transition: .5s;
                top: 0;
                right: 0;
                height: 25vh;
                width: 100vw;
                background-color: rgb(0, 0, 0);
                z-index: 1000;
                border-bottom: 1px solid white;

            }

            ion-icon {
                transition: .5s;
                position: absolute;
                top: 0;
                right: 0;
                font-size: 30px;
                color: rgb(255, 255, 255);

                &.active {
                    transition: .5s;
                    top: 10px;
                    right: 10px;
                }
            }
        }

        .menu {
            transition: .5s;
            visibility: hidden;
            opacity: 0;

            a {

                li {
                    font-size: 16px;
                }
            }

            &.active {
                transition: .5s;
                opacity: 1;
                flex-direction: column;
                visibility: visible;
                z-index: 1000;
                gap: 30px;
                margin-top: -80px;
                margin-left: 20px;

                a {

                    li {
                        font-size: 20px;
                    }

                    &:nth-child(2) {
                        border-top: 1px solid rgb(255, 255, 255);
                        padding: 10px 50px;
                        margin-top: -15px;
                    }

                    &:nth-child(3) {
                        border-top: 1px solid rgb(255, 255, 255);
                        padding: 10px 58px;
                        margin-top: -20px;
                    }
                }
            }
        }
    }

    .conteiner1 {
        height: 600px;

        .contacto {
            height: 350px;
            width: 350px;

            img {
                height: 70px;
            }

            .titulo {
                font-size: 22px;
            }

            .eslogan {
                font-size: 16px;
            }

            .propietario {
                font-size: 22px;
            }

            .datoscontacto {
                gap: 5px;

                a {

                    ion-icon {
                        font-size: 24px;
                    }

                    span {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .scene {
        .nosotros {
            padding: 0px 20px;

            .quienes_somos {
                font-size: 24px;
            }

            .somos {
                font-size: 18px;
                letter-spacing: 1px;
                line-height: 28px;
            }
        }
    }


    .cotiza_ahora {

        a {

            div {
                padding: 15px 70px;

                span {
                    font-size: 16px;
                }
            }
        }
    }

    .servicios {
        flex-direction: column;
        gap: 20px;

        .textos {
            height: 275px;
            width: 95%;
            gap: 5px;
            box-shadow: 3px 3px 15px rgb(0, 0, 0);
           

            span {
                margin-top: 20px;
                font-size: 21px;
                border-bottom: 2px solid white;
            }

            ul {
                li {
                    font-size: 17px;
                    margin-top: 7px;
                }
            }
        }

        .image2 {
            height: 425px;
            width: 95%;

        }
    }

    .contacto2 {

        .contenedor {

            &.active2 {
                width: 385px;
            }
        }
    }

    .contacto_footer {
        justify-content: center;
        flex-direction: column;
        height: 1000px;
        width: 100%;
        margin-top: -10px;
        gap: 0px;

        .preferencia {
            flex-direction: column;
            width: 100%;

            .gracias {
                font-size: 32px;
            }

            span {
                font-size: 17px;
            }

            .cotiza_ahora2 {
                a {
                    div {
                        padding: 10px 60px;
                    }
                }
            }

            .datoscontacto2 {

                ion-icon {
                    font-size: 32px;
                }
            }

            .credito {
                font-size: 17px;
            }
        }

        .ubicacion {
            width: 95%;
            margin-right: 0;
            margin-top: -40px;

            iframe {
                width: 100%;
                height: 400px;
            }

            a {

                span {
                    font-size: 11px;
                }
            }
        }
    }
}